.main-status-container {
    display: block;
}

.main-status-container > .status-row {
    display: inline-block;
}

.main-status-container > .status-row > .status-row-playing {
    background-color: #11119258;
    display: block;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000095;
    overflow-x: scroll;
    white-space: nowrap;
}

.main-status-container > .status-row > .status-row-completed {
    background-color: #11119258;
    display: block;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000095;
    overflow-x: scroll;
    white-space: nowrap;
}

.main-status-container > .status-row > .status-row-backlog {
    background-color: #11119258;
    display: block;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000095;
    overflow-x: scroll;
    white-space: nowrap;
}