div {
    align-items: center;
    text-align: center;
}

.card-section-div {
    text-align: center;
    background-color: #ffffff2f;
    border-radius: 5px;
    margin: 12px;
    border: 2px solid #ff007b;
    padding: 3px;
}

.card-section-div > h1, h2, h3, h4, h5 {
    color: #ffffff;
}

.card-image {
    margin: 5px;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    align-content: center;
    border: 5px solid #ff007b;
}