.main-status-container {
    display: block;
}

.main-status-container > .status-row {
    display: inline-block;
}

.main-status-container > .status-row > .status-row-playing {
    background-color: #1111923f;
    display: block;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 0px 30px #ea075ed8;
    overflow-x: scroll;
    white-space: nowrap;
    backdrop-filter: blur(5px);
}

.main-status-container > .status-row > .status-row-completed {
    background-color: #1111923f;
    display: block;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 0px 30px #ea075e93;
    overflow-x: scroll;
    white-space: nowrap;
    backdrop-filter: blur(5px);
}

.main-status-container > .status-row > .status-row-backlog {
    background-color: #1111923f;
    display: block;
    height: 40vh;
    border-radius: 5px;
    box-shadow: 5px 0px 30px #ea075e91;
    overflow-x: scroll;
    white-space: nowrap;
    backdrop-filter: blur(20px);
}