div {
    align-items: center;
    text-align: center;
}

.card-section-div {
    text-align: center;
    background-color: #728cff64;
    border-radius: 7px;
    margin: 12px;
    border: 2px solid #ff007b;
    box-shadow: 5px 0 10px #0000005f;
    padding: px;
}

.card-section-div > h1, h2, h3, h4, h5 {
    color: #ffffff;
}

.card-image {
    margin: 5px;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    align-content: center;
    border: 5px solid #ff007b;
    box-shadow: 5px 0 15px #0000005f;
}

div > .edit-card-text {
    color: #ffffff;
    text-align: right;
    margin-top: -12px;
}

div > .edit-card-text > .icon-button > .edit-button {
    color: #ffffff;
    text-align: right;
}