.form-modal {
    background-color: #dbe2ffd8;
    border: 3px solid #000000;
    border-radius: 10px;
    height: 70vh;
    width: 65vw;
    min-height: 500px;
    min-width: 400px;
    margin: auto;
    top: 50%;
    padding-top: 5.5vh;
}

.library-row {
    display: inline-block;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.add-button {
    float: right;
    color: #30b410;
    transition: transform .3s ease-in-out;
}

.add-button:hover {
    transform: scale(1.1);
}

.add-button > .add-button-text {
    margin-right: .25vw;
    color: #30b410;
    transition: transform .3s ease-in-out;
}

.add-button > .add-button-text:hover {
    transform: scale(1.05);
    color: #3ee814;
}

.status-text {
    color: #ffffff;
    float: left;
    font-size: 25px;
    margin-left: 1.8vw;
    text-shadow: 4px 0 3px #000000d1;
    position: absolute;
}

.library-image {
    height: 185px;
    width: 140px;
    outline: 2px solid #000000;
    box-shadow: 5px 0 10px #00000096;
    margin: 2.3vw;
}

.library-title {
    color: #ffffff;
    font-size: 15px;
    margin-top: -2vh;
}