.page-background {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}