.navbar {
    position: sticky;
}

.navbar .nav-logo {
    transition: transform 0.35s ease-in-out;
}

.navbar .nav-logo:hover {
    transform: scale(1.05);
}

.navbar .navbar-toolbar {
    background-color: #140029;
    box-shadow: 3px 0 12px #000000a0;
}

.navbar .navbar-header {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    padding-left: 10px;
}

.navbar .navbar-box {
    display: flex;
    flex-grow: 1;
}

.navbar .navbar-button {
    font-family: 'Cairo', sans-serif;
    color: white;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    transition: transform .3s ease-in-out;
}

.navbar .navbar-button:hover {
    background-color: #3514bbe3;
    transform: scale(1.05);
}