.prof-main-box > .prof-main-grid > .prof-card-grid {
    background-color: #29347be6;
}

.prof-main-box > .prof-main-grid > .prof-card-grid > .prof-card-box {
    height: 100vh;
    margin: 10px;
}

.prof-main-box > .prof-main-grid > .prof-lib-grid {
    background-color: #4755ace6;
}

.prof-main-box > .prof-main-grid > .prof-lib-grid > .prof-lib-box {
    height: 100vh;
    margin: 10px;
}
